$primary: #db4c3f;
$grey: rgb(234, 234, 234);
$sidebar-width: 300px;
$header-height: 44px;

li {
    list-style: none;
}

.container {
    display: grid;
    grid-template-rows: $header-height calc(100vh - $header-height);
    grid-template-columns: $sidebar-width calc(100vw - $sidebar-width);
}

.header {
    background-color: $primary;
    grid-column: 1/3; // start/end
    grid-row: 1/2;

    // Content
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0.5rem 2rem;
    color: $grey;

    & > span {
        display: flex;
        cursor: pointer;
        font-size: 24px;
        // align-items: center;
    }
}

.sidebar {
    // background-color: aquamarine;
    grid-row: 2/3;
    grid-column: 1/2;
    position: sticky;
    // position: fixed;
    // left: 0;
    // top: 0;

    // Inside eContent
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 30px;

    &__middle {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 20px;

        & > span {
            display: flex;
        }
        & > h6 {
            font-size: 22px;
        }
    }
}

.generic__lists,
.project__lists {
    & > li {
        display: flex;
        align-items: center;
        gap: 15px;
        font-size: 20px;
        cursor: pointer;
        padding: 10px;
        margin: 2px 0;
        border-radius: 4px;

        &:hover {
            background-color: $grey;
        }

        & > span {
            display: flex;
        }

        & > h6 {
            font-weight: 500;
        }
    }
}

.active {
    background-color: $grey;
}

.content {
    grid-row: 2/3;
    grid-column: 2/3;
    overflow-y: scroll;
    padding: 20px 30px;
}
